.idea/
.vscode/
node_modules/
build/
tmp/
*.zip
.DS_STORE
yarn-error.log
dist/
*.env
.nyc_output/
coverage/

#awsmobilejs
aws-info.json
project-info.json
aws-exports.js
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
~awsmobilejs-*/